@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.slider-text{
background-color: #000000;
margin-top:0;
display: flex;
align-items:center ;
}



.slider-button-container{
    position: relative;
    top: 84.65%;
    left: 48.45%;
    
}
.slider-text-container{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;


}
.slider-text-heading{
    
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 50px;
    font-family: 'League Spartan', sans-serif;
    font-size: 50px;
}
.slider-text-paragragh{
    font-size: 16px;
    margin-left: 50px;
     color: #fff;
    font-family: 'League Spartan', sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.slider-image{
    width: 50%;
    height: 50%;
}