@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.signup-form{
    padding: 10px;
}
.signup-form{
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    float: left;
    align-items: flex-start;
    flex-direction: column;
    border: 2px solid #790e0e;
}

.first-name,.email,.password,.location,.contact{
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
