*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar-brand{
    background-color: #000000;
    font-family:sans-serif;
    display: flex;
    
}
.navbar-brand-logo{
    background-color: #000000;
    display: flex;
    align-items: start;
}

.navbar-brand-links{
    background-color: #000000;
    display: flex;
    justify-content: end;
    margin-left: 10px;
    margin-right: 10px;

}
.navbar-brand-links a{
    display: flex;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color:hsl(0, 100%, 100%);
    margin-left: 10px;
    
}
